<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        <div>
            <h1>Registration</h1>
            <ul>
                {% for error in messages %}
                <li>
                    {{ error }}
                </li>
                {% endfor%}
            </ul>
            <form action="/add_user/" method="post">
                {% csrf_token %}
                <p>First Name <input type="text" name="firstname"></p>
                <p>Last Name <input type="text" name="lastname"></p>
                <p>Email <input type="email" name="email"></p>
                <p>Password <input type="password" name="password"></p>
                <p>Confirm PW <input type="password" name="passconf"></p>
                <button type="submit">Register</button>
            </form>
        </div>
        <div>
            <h2>Login </h2>
            <form action="/login_user/" method="post">
                {% csrf_token %}
                <p>Email <input type="email" name="email"></p>
                <p>Password <input type="password" name="password"></p>
                <button type="submit">Log in</button>
            </form>
        </div>
    </main>
</body>

</html>